<link rel="import" href="timeline/x-timeline.html" />

<dom-module id="x-member">
    <template>
        <style>
            iron-pages{
                position: relative;
                height: 100%;
            }
        </style>
        <app-route
                route="{{route}}"
                pattern="/:path"
                data="{{subpage}}"
                tail="{{subroutetail}}">
        </app-route>

        <iron-pages attr-for-selected="sub-path" selected="[[subpage.path]]" fallback-selection="timeline">

            <x-timeline sub-path="timeline" route="{{subroutetail}}" stories="{{page.data.stories}}" subpage="{{subpage}}"></x-timeline>

        </iron-pages>
    </template>
    <script>
        Polymer({
            is: 'x-member',
            attached: function(){
                //console.log(this.page)
            }
        })
    </script>
</dom-module>