<dom-module id="x-search-bar">
    <template>
        <style include="iron-flex iron-flex-alignment">

            *::-webkit-input-placeholder {
                color: var(--paper-grey-100);
            }

            *:-moz-placeholder {
                /* FF 4-18 */
                color: var(--paper-grey-100);
            }

            *::-moz-placeholder {
                /* FF 19+ */
                color: var(--paper-grey-100);
            }

            *:-ms-input-placeholder {
                /* IE 10+ */
                color: var(--paper-grey-100);
            }

            :host{
                display: flex;
                flex-grow: 1;
                height: 36px;
                background: rgba(255,255,255,.15);
                border-radius: 2px;
            }

            .search-bar{
                padding-right: 10px;
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
                @apply(--layout-center);
            }

            .search-bar input{
                padding: 0px 10px;
                background: transparent;
                border: none;
                outline: none;
                color: white;

                @apply(--paper-font-subhead);
                @apply(--layout-self-stretch);

                font-weight: 600;
            }

            .search-bar input:focus{
                border: none;
                outline: none;
            }

            /* Breakpoints */

            /* Small */
            /*Do not display the location input field on small devices*/
            @media (max-width: 960px) {
                #location-search {
                    display: none;
                }
            }
        </style>

        <div class="search-bar horizontal layout flex-5">
            <input type="text" class="flex" placeholder="{{label}}" value="{{json.title}}" />
            <paper-icon-button icon="maps:my-location" noink></paper-icon-button>
        </div>

        <div class="search-bar horizontal layout flex" id="location-search">
            <input type="text" class="flex" placeholder="Where" value="Birmingham United Kingdom" />
        </div>
    </template>
    <script>
        Polymer({
            is : 'x-search-bar',
            properties:{
                json : {
                    type: Object,
                    notify: true
                },
                route : {
                    type: Object,
                    notify: true,
                }
            },
            attached: function(){
                //console.log(this.page)
            }
        })
    </script>
</dom-module>