

<dom-module id="x-page">
    <template>
        <style>
            :host {}
        </style>
        <app-route
                route="{{route}}"
                pattern="/:path"
                data="{{subpage}}"
                tail="{{subpageroute}}">
        </app-route>

        <iron-pages attr-for-selected="sub-path" selected="[[subpage.path]]" fallback-selection="list">

            <div sub-path="list">Page list</div>

        </iron-pages>


    </template>
    <script>
        Polymer({
            is : 'x-page',
            attached: function(){
                //console.log(this.subpage)
            }
        })
    </script>
</dom-module>