<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>floorstreet - sign in</title>
        <script  data-main="/theme/config.js" src="/theme/vendor/requirejs/require.js"></script>
        <link rel="import" href="/theme/components/components.html" />
        <link rel="import" href="/theme/components/app/member/authenticator/x-authenticator.html" />
        <link rel="stylesheet" href="/theme/styles/main.css" />
    </head>
    <body class="fullbleed layout vertical">
        <x-authenticator></x-authenticator>
        <script>
            require(['config'], function(){
                require(["webcomponentsjs", "jquery"]);
            });
        </script>
    </body>
</html>